@media (max-width: 900px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))),
      url(../images/cloudy.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/cloudy.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/cloudy.jpg);
  }

  aside {
    display: none;
  }

  .web {
    display: none;
  }
  .city-display h2 {
    margin-top: 20px;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .phone-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .weather-display .line {
    display: none;
  }
}
